<h1>Welcome <%=current_user.user_name%>!</h1>


<h2>My rental Requests</h2>
  <%CatRentalRequest.all.each do|rental| %>
    <%if rental.user_id == current_user.id%>
      <li>
        Requester: <%= User.find(rental.user_id).user_name %> - 
        Start Date: <%= rental.start_date %>
        -  End Date: <%= rental.end_date %> - Status: <%= rental.status %>
      </li>
    <%end%>
  <%end%>
  

<h2>My Cats</h2>
<%@cats = current_user.cats%>
  <%CatRentalRequest.all.each do|rental| %>
    <%@cats.each {|cat| if cat.id == rental.cat_id}%>
      <ul style="list-style: none; ">
        <li>
          <img src= "<%= @cat.image_url %>" width="20%" height="20%">
        </li>
   
        <li>
          Name: <%=@cat.name%>
        </li>
        <li>
          Owner: <%= User.find(@cat.user_id).user_name %>
        </li>
        <li>
          Cat Serial Number: <%=@cat.id%>
        <li>
          Age: <%=@cat.age%>
        </li>
        <li>
          Birthdate: <%=@cat.birth_date%>
        </li>
        <li>
          Color: <%=@cat.color%>
        </li>
        <li>
          Sex: <%=@cat.sex%>
        </li>
      </ul>
      <form action = "/cat_rental_requests/<%= rental.id%>/respond" 
            method = "post">
          <% if rental.status == "PENDING" %>
            <input type = "submit" 
                   name = "cat_rental_request[status]" 
                   value = "APPROVE">
            <input type = "submit" 
                   name = "cat_rental_request[status]" 
                   value = "DENY">
          <% end %>
      </form>
    <%end%>
  <% end %>
</ul></td>
<br>
<%=link_to "<< Back to All Cats", cats_url%>

 