<form method="post" action="/cat_rental_requests/<%= @cat_rental_request.id %>">
  <% if @cat_rental_request.persisted? %>
    <input name="_method" type="hidden" value="patch">
  <% end %>
  
  <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>
  <input type="hidden" name="cat_rental_request[user_id]" value=<%= self.current_user.id %>>
       <input type="hidden" name="cat_rental_request[cat_id]" value=<%= session[:cat_id] %>>
  <h3>Cat: <%= Cat.find(session[:cat_id]).name %></h3>
  Start Date: 
      <input type="date" name="cat_rental_request[start_date]" 
      placeholder= "Start Date" value = <%= @cat_rental_request.start_date %>>
      <br>
  End Date: 
      <input type="date" name="cat_rental_request[end_date]" 
      placeholder= "End Date" value = <%= @cat_rental_request.end_date %>>
      <br>
      <br>
    <input type="submit" value="Save Rental Request">
</form>
<br>
